.custom-modal-content {
  /* Your custom styles for the AddAppointment component inside the Modal */
  background-color: #f5f5fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
  /* Add other custom styles here */
}
.customModal {
  background-color: #f5f5fa;
}

@media screen and (max-width: 800px) {
  .customModal {
    width: 90%; /* Adjust the width for small screens */
  }
}
