.customButton {
  top: 12px;
  right: 14px;
}
.customModal2 {
  padding: 0%;
  border-radius: 0;
  margin: 0;
}
.customModal3 {
  padding: 0%;
  background-color: #fafafa;
}
.customButton2 {
  top: 12px;
  right: 14px;
  
}
