.closeIconInChangePassword{
  /* position: absolute; */
  /* top: -10px; */
  /* left: 93%; */
}
input:focus {
  outline: none;
  border: 1px solid blue;
}
input {
  border: 1px solid blue;
  padding-left: 10px;
  border-radius: 5px;
  width: 360px;
  height: 60px;
}
input.input-error,
select.input-error {

  border: 1px solid red;
}

.toast-message{
  
  width: 500px;
}
